<div class="container mt-5">
  <div class="row d-flex align-items-stretch">
    <!-- Columna para el formulario y descripción -->
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <div class="card shadow-lg" style="max-width: 400px; width: 100%; border-radius: 15px;">
        <div class="card-body text-center">
          <h2 class="card-title mb-4" style="font-weight: bold; color: #007bff;">La Herramienta Clave para tu Inventario</h2>
          <p class="card-text mb-4 text-secondary">
            Administra tus productos de forma eficiente, controla tus existencias en tiempo real 
            y optimiza el flujo de mercancías. ¡Simplifica la gestión de tu empresa con nuestra solución!
          </p>
          <button class="btn btn-primary btn-lg" style="border-radius: 10px;" (click)="login()">Iniciar Sesión</button>
        </div>
      </div>
    </div>    
    <!-- Columna para la imagen -->
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <img src="../../../assets/gestion_inventario.jpg" class="img-fluid rounded shadow-lg" 
           alt="Imagen relacionada con gestión de inventarios" style="max-height: 400px;" />
    </div>
  </div>
  
</div>
